style.css
body{
    background-color: blue;
    width: 100px;
}
.container{
    display: block;
    justify-content: center;
    align-items: start;
    width: 900px;
    border-radius: 10px;
    border-style: solid;
    background-color: blue;
    margin-block: 50%;
}
.image-container{
    flex:1;
    text-align: left;
}
.image-container img {
    width: 400px;
}
.text-container{
    flex 1;
    text-align: right;

}
.align{
    text-align: initial;
    float: right;
    width: 30;
    text-align: center;
}
.paragraph{
    font: 14px;
}

    
