table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;   
}
th, td{
    border: 1px;
    padding: 8px;
    text-align: left;
}
th{
    background-color: hsl(10, 60%, 30%);
    text-size-adjust: 100;
}
.first{
    background-color: mediumpurple;

}
.second{
    background-color: blueviolet;
}
.third{
    background-color: mediumslateblue
}
tr:hover{
        background-color: mediumorchid;
    }
div{
    width:70%;
    background-color: hsl(10, 60%, 30%);
}
h1{
    background-color: maroon
}